/* TABLE OF CONTENTS
=============================================================================
  1. Globals - Default HTML elements styling.
  2. Library - Styling for custom elements used throughout the site.
  3. Template - Styling for structure of the site.
  4. Page Styles - Styling for page-specific elements.
=============================================================================*/


/* @group Globals
=============================================================================
Default HTML elements styling.
=============================================================================*/
body {
  background: url('../images/bg.gif') repeat 0 0;
  color: #666;
  font: 15px/1.5 'Delicious', Arial, serif;
}
div.all-content a, div.all-content a:visited, div.all-content a:active {
  color: #ae1f33;
/*  border-bottom: 1px solid rgba(174,31,51,0);*/
  outline: none;
  text-decoration: none;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
div.all-content a:hover {
/*  border-bottom: 1px solid #ae1f33;*/
}
blockquote {
  font-style: italic;
  margin-left: 15px;
}
strong { font-weight: bold; }
em { font-style: italic; }
small { font-size: 80%; }
h1 {
  color: #ae1351;
  font: 24px/1.5 'Arvo', Georgia, serif;
  text-shadow: 0 1px 0 #fff;
  text-transform: lowercase;
}
h1.logo {
  background: url('../images/logo-bhp.png') no-repeat 0 0;
  display: block;
  font-size: 0;
  height: 115px;
  line-height: 0;
  margin: 0 0 0 -37px;
  width: 250px;
  text-indent: -9999px;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
h1.logo:hover {
  opacity: .75;
}
  h1 a {
    display: block;
    height: 100%;
    width: 100%;
  }
h2 {
  font: 18px/1.5 'Arvo', Georgia, serif;
  text-shadow: 0 1px 0 #fff;
}
h3 {
  font: 17px/1.5 'DeliciousBold', Arial, sans-serif;
}
  h3.widget-title {
    margin-bottom: 5px;
  }
::selection {
  background: #c45469;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #c45469;
  color: #fff;
  text-shadow: none;
}
div#gform_wrapper_1 {
  margin-left: 20px;
}
form ul, form ul li {
  margin: 0;
}
form ul li {
  margin-bottom: 10px;
  list-style: none;
}
div.all-content input[type=text], div.all-content input[type=email], div.all-content input[type=tel], div.all-content textarea {
  border: 1px solid #E0E0E0;
  background: #ebebeb; /* For IE */
  background: rgba(235,235,235,.4);
  color: #666;
  font: 18px/24px 'Lucide Grande', Lucida, Arial, sans-serif !important;
  padding: 7px !important;
}
div.all-content textarea {
  width: 98%;
}
div.all-content input[type=text]:focus, div.all-content input[type=email]:focus, div.all-content input[type=tel]:focus, div#wrapper textarea:focus {
  background: rgb(235,235,235);
}
div.all-content input[type=submit] {
  background: #c25267;
  border: none;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font: 17px/23px 'Arvo', Georgia, serif;
  padding: 2px 30px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  text-transform: lowercase;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
div.all-content input[type=submit]:hover {
  background: #ae3f54;
  color: #fff;
  cursor: pointer;
}
.gform_wrapper#gform_wrapper_1 .ginput_complex input,
.gform_wrapper#gform_wrapper_1 .ginput_complex select {
  width: 93% !important;
}

/* @end */

/* @group Library
=============================================================================
Styling for custom elements used throughout the site.
=============================================================================*/
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.clearfix { display: block; }
img.alignright { margin-left: 15px; }
img.alignleft { margin-right: 15px; }
.aligncenter,div.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignleft { float: left; }
.alignright { float: right; }
.textleft { text-align: left; }
.textcenter { text-align: center; }
.textright { text-align: right; }
img.thickborder {
  background: #f1f1f1;
  border: 1px solid #ededed;
  padding: 10px;
}
.gform_wrapper .gfield_required {
  color: #ae1531 !important;
}
div#wrapper .gform_wrapper .gfield_error input[type=text], div#wrapper .gform_wrapper .gfield_error input[type=email], div#wrapper .gform_wrapper .gfield_error input[type=tel], div#wrapper .gform_wrapper .gfield_error textarea {
  background: #E6BCBC;
  color: #790000;
}
div#wrapper .gform_footer {
  margin-top: 5px;
  padding-top: 0;
}
div#wrapper label.gfield_label {
  color: #ae1351;
  font: 17px/23px 'Arvo', Georgia, serif;
  text-transform: lowercase;
}
.pictos {
	font-weight: normal; 
	font-style: normal;
	line-height: normal; 
	font-family: 'Pictos', sans-serif;
}
img.post-thumbnail {
  margin-bottom: 20px;
}
/* @end */

/* @group Template
=============================================================================
Styling for structure of the site.
=============================================================================*/
#wrapper {
}
  header[role=site] a, #page a, footer[role=site] a {
  }
  header[role=site] {
    margin-top: 20px;
    margin-bottom: 20px;
  }
    nav#primary-navigation {
      font: 16px/24px 'Arvo', Georgia, serif;
      margin-top: 55px;
      text-align: right;
      text-shadow: 0 1px 0 #fff;
    }
      nav#primary-navigation ul li {
        display: inline;
        list-style: none;
        margin: 0 0 0 10px;
        text-transform: lowercase;
      }
        nav#primary-navigation ul li a {
          color: #666;
          -moz-border-radius: 3px;
          border-radius: 3px;
          padding: 3px 8px;
        }
        nav#primary-navigation ul li a:hover, 
        nav#primary-navigation ul li.current-menu-item a, 
        nav#primary-navigation ul li.current_page_parent a {
          background: rgb(174,21,49); /* For IE */
          background: rgba(174,21,49,.73);
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0,0,0,.22);
        }
  #page{
    background: url('../images/dotted-line.png') repeat-x top;
    padding: 25px 0 20px 0;
    position: relative;
  }
    div#page article.post {
      margin-bottom: 50px;
      position: relative;
    }
      div#page article.post div.date {
        background: url('../images/bg-date-heart.png') no-repeat 0 0;
        color: #fff;
        display: block;
        font-size: 24px;
        left: -80px;
        height: 46px;
        padding: 15px 0 0 5px;
        position: absolute;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0,0,0,.22);
        top: -10px;
        width: 60px;
      }
        div#page article.post span.month {
          display: block;
          font-size: 14px;
          line-height: 12px;
          text-transform: uppercase;
        }
        div#page article.post span.day {
          font-size: 24px;
          line-height: 20px;
        }
      div.post-info {
        border: 1px solid #ccc;
        border-right: none;
        border-left: none;
        font-size: 13px;
        margin: -10px 0 10px 0;
        padding: 5px 0;
      }
      /*a.comment-count {
        display: block;
        font-size: 24px;
        left: -60px;
        position: absolute;
        text-align: center;
      }
      a.comment-count:hover {
        opacity: 0.75;
      }*/
    #page ol.commentlist li {
      list-style: none;
      margin: 0;
    }
    #page a.more-link {
      display: block;
      margin-top: 10px;
    }
    #page span.edit-link {
      left: -80px;
      position: absolute;
      top: 25px;
      visibility: hidden;
    }
    #page:hover span.edit-link {
      visibility: visible;
    }
      #page span.edit-link a {
        background: rgb(174,21,49); /* For IE */
        background: rgba(174,21,49,.73);
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        opacity: .25;
        padding: 3px 5px;
      }
      #page span.edit-link a:hover {
        opacity: 1.0;
      }
      #page p.no-posts {
        color: #9C9C9C;
        font-size: 23px;
        margin: 20px 0;
        padding-right: 70px;
        text-shadow: 0 1px 0 #fff;
      }
      #page div.wp-pagenavi {
        margin-bottom: 15px;
        text-align: center;
      }
      #page div.wp-pagenavi span, #page div.wp-pagenavi a {
        background: transparent;
        border: 1px solid rgb(174,21,49);
        border-radius: 50px;
        color: #ae1f33;
        margin-right: 5px;
        padding: 0px 7px 3px 7px;
      }
      #page div.wp-pagenavi span, #page div.wp-pagenavi a:hover {
        border: 1px solid rgb(174,21,49);
        background: rgb(174,21,49);
        color: #fff;
      }
  aside#sidebar ul li.widget-container {
    list-style: none;
    margin: 0 0 10px 0;
  }
  aside#sidebar ul li.widget_categories h3 {
    display: none;
  }
  aside#sidebar ul li.widget_search {
    margin: 0 0 20px 0;
  }
    aside#sidebar ul li.widget_search label {
      display: none;
    }
    aside#sidebar ul li.widget_search input[type=text] {
      width: 75%;
    }
    aside#sidebar ul li.widget_search input[type=submit] {
      background: rgb(174,21,49) url('../images/magnifying_glass_16x16.png') no-repeat 9px 9px; /* For IE */
      background: rgba(174,21,49,.65) url('../images/magnifying_glass_16x16.png') no-repeat 9px 9px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      display: inline-block;
      height: 35px;
      padding: 0;
      text-indent: -9999px;
      width: 35px;
    }
    aside#sidebar ul li.widget_search input[type=submit]:hover {
      background: rgb(174,21,49) url('../images/magnifying_glass_16x16.png') no-repeat 9px 9px; /* For IE */
      background: rgba(174,21,49,1.0) url('../images/magnifying_glass_16x16.png') no-repeat 9px 9px;      
    }
    aside#sidebar ul li ul li {
      border: 1px solid #fff;
      list-style: none;
      margin: 0;
    }
      aside#sidebar ul li ul li a {
        background: rgb(174,21,49); /* For IE */
        background: rgba(174,21,49,.65);
        color: #fff;
        display: block;
        height: 20px;
        padding: 14px 0 10px 15px;
        width: 200px;
      }
      aside#sidebar ul li ul li a:hover {
        background: rgb(174,21,49); /* For IE */
        background: rgba(174,21,49,1.0);
      }
  footer[role=site] {
    background: url('../images/dotted-line.png') repeat-x top;
    color: #8d8d8d;
    font-size: 13px;
    padding-top: 20px;
    text-shadow: 0 1px 0 #fff;
  }
    footer[role=site] a, footer[role=site] a:visited, footer[role=site] a:active {
      color: #666;
      font-family: 'DeliciousBold', Arial, sans-serif;
    }
    footer[role=site] a:hover {
      color: #8d8d8d;
    }
    footer[role=site] a.admin {
      color: #666;
      font-family: 'Delicious', Arial, sans-serif;
    }
/* @end */

/* @group Page Styles
=============================================================================
Styling for page-specific elements.
=============================================================================*/
/* @group Home Page*/
body.home div.floating-hearts {
  background: url('../images/bg-floating-hearts.png') no-repeat 0 0;
  height: 254px;
  margin: -24px 0 0 -19px;
  width: 90px;
}
body.home div#client-testimonials, 
body.home nav#social-links {
  margin-bottom: 20px;
}
body.home div#client-testimonials {
  background: url('../images/bg-down-arrow.png') no-repeat 560px bottom;
  padding-bottom: 13px;
}
  body.home div#client-testimonials article {
    background: #f1f1f1;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #bbbbbb;
    display: block;
    font: italic normal 17px/23px Georgia, serif;
    padding: 10px;
    position: relative;
  }
    body.home div#client-testimonials article p {
      margin-bottom: 0;
    }
    body.home div#client-testimonials article span.author {
      bottom: 10px;
      font: normal normal 12px/14px 'Delicious', Arial, sans-serif;
      position: absolute;    
      right: 20px;
    }
body.home nav#social-links ul {
  margin: 5px 0 0 0;
}
body.home nav#social-links ul li {
  display: inline;
  margin: 0 10px 0 0;
}
  body.home nav#social-links ul li a {
    background: url('../images/btn-social-links.png') no-repeat 0 0;
    display: inline-block;
    *display: inline; /* for IE 7 */
    height: 54px;
    *line-height: 0; /* for IE 7 */
    text-indent: -9999px;
    *text-indent: 0; /* for IE 7 */
    width: 54px;
    *zoom: 1; /* for IE 7 */
  }
  body.home nav#social-links ul li a.twitter:hover { background-position: 0 -55px; }
  body.home nav#social-links ul li a.facebook { background-position: -55px 0; }
  body.home nav#social-links ul li a.facebook:hover { background-position: -55px -56px; }
  body.home nav#social-links ul li a.flickr { background-position: -111px 0; }
  body.home nav#social-links ul li a.flickr:hover { background-position: -111px -55px; }
body.home div#slider-wrapper {
  padding-bottom: 30px;
}
  body.home div#slider {
    background: #f1f1f1;
    border: 1px solid #ededed;
    height: 546px;
    margin: 0;
    padding: 10px;
    position: relative;
    width: 833px;
  }
  body.home div#slider:before, 
  body.home div#slider:after {
    position: absolute;
    z-index: -1;
  }
  body.home div#slider:before {
    background: transparent;
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
    -o-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
    bottom: 16px;
    content: "";
    height: 20%;
    right: 15px;
    text-align: left;
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(2deg);
    -o-transform: rotate(3deg);
    transform: rotate(3deg);
    width: 75%;
  }
  body.home div#slider:after {
    background: transparent;
    bottom: 16px;
    -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
    -o-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
    content: "";
    height: 20%;
    left: 15px;
    text-align: right;
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-2deg);
    -o-transform: rotate(-3deg);
    transform: rotate(-3deg);
    width: 75%;
  }
    body.home div#slider ul#slides {
      height: 546px;
      overflow: hidden;
      width: 833px;
    }
    body.home div#slider ul, body.home div#slider ul li {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    body.home div#slider a.slider-arrow {
      display: none;
      position: absolute;
      -moz-transition: all 0.4s ease-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      top: 265px;
      z-index: 99;
    }
    body.home div#slider:hover a.slider-arrow {
      display: block;
    }
      body.home div#slider a.prev {
        left: 25px;
      }
      body.home div#slider a.next {
        right: 25px;
      }
    body.home div#slider nav#slider-nav {
      display: block;
      margin: 25px 0 0 0;
      text-align: center;
    }
      body.home div#slider nav#slider-nav a {
        background: #f6c7cf;
        -moz-border-radius: 100px;
        border-radius: 100px;
        display: inline-block;
        height: 5px;
        margin: 0 5px;
        text-indent: -9999px;
        width: 5px;
      }
      body.home div#slider nav#slider-nav a.activeSlide {
        background: #ae1531;
      }
body.home .no-posts {
  left: 290px;
  position: absolute;
  top: 250px;
}
/* @end */

/* @group Gallery Grid Pages */
a.back-to-galleries {
  background: rgb(174,21,49); /* For IE */
  background: rgba(174,21,49,.73);
  border-radius: 3px;
  color: #fff !important;
  font: 13px/17px 'Arvo', Georgia, serif;
  margin-left: -20px;
  padding: 6px 6px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.22);
  text-transform: lowercase;
}
a.back-to-galleries:hover {
  background: rgba(174,21,49,.6);
}
/*a.back-to-galleries:before {
  background: transparent url('../images/btn-arrow-left.png') no-repeat 0 0 !important;
  content: '';
  display: block;
  height: 29px;
  left: -27px;
  padding: 0;
  position: absolute;
  width: 14px;
}*/
div.photo-shadow {
  float: left;
  margin: 0 20px 20px 0;
  position: relative;
  width: 218px;
}
div.photo-shadow:before, div.photo-shadow:after {
  position: absolute;
  z-index: -1;
}
div.photo-shadow:before {
  background: transparent;
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  -o-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  bottom: 15px;
  content: "";
  height: 20%;
  right: 10px;
  text-align: left;
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
  width: 75%;
}
div.photo-shadow:after {
  background: transparent;
  bottom: 15px;
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  -o-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  content: "";
  height: 20%;
  left: 10px;
  text-align: right;
  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  width: 75%;
}
  div.photo {
    background: #f1f1f1;
    border: 1px solid #ededed;
    height: 132px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    -moz-transition-property: background, border;
    -moz-transition-duration: 0.5s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-property: background, border;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
    width: 198px;  
    z-index: 0;
  }
  div.photo:hover {
    background: #c25267;
    border-color: #b03f55;
  }
    div.photo a {
      display: block;
      height: 132px;
      overflow: hidden;
      position: relative;
      width: 198px;
    }
    div.photo a span.label {
      background: #fff; /* older browsers */
      background: rgba(255,255,255,0.85);
      bottom: -44px;
      color: #ae1531;
      font: 18px/23px 'Arvo', Georgia, serif;
      left: 0;
      padding: 10px 0;
      position: absolute;
      text-transform: lowercase;
      -moz-transition: bottom 0.4s ease-in-out;
      -webkit-transition: bottom 0.4s ease-in-out;
      width: 198px;
    }
    div.photo:hover a span.label {
      color: #ae1531;
      bottom: 0;
    }
/* @end */

/* @group About Page */
body.page-template-about-php div.featured-image {
  width: 460px;
  position: relative;
}
body.page-template-about-php div.featured-image:before, 
body.page-template-about-php div.featured-image:after {
  position: absolute;
  z-index: -1;
}
body.page-template-about-php div.featured-image:before {
  background: transparent;
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  -o-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  bottom: 16px;
  content: "";
  height: 20%;
  right: 15px;
  text-align: left;
  -moz-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  transform: rotate(3deg);
  width: 75%;
}
body.page-template-about-php div.featured-image:after {
  background: transparent;
  bottom: 16px;
  -moz-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  -o-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.47);
  content: "";
  height: 20%;
  left: 15px;
  text-align: right;
  -moz-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  transform: rotate(-3deg);
  width: 75%;
}
/* @end */

/* @group 404 Page */
.error404 {
}
/* @end */
/* @end */

/* @group Font Kits
=============================================================================
@font-face kits.
=============================================================================*/
@font-face {
  font-family: 'Delicious';
  src: url('../fonts/delicious/delicious-roman-webfont.eot');
  src: url('../fonts/delicious/delicious-roman-webfont.eot?iefix') format('eot'),
       url('../fonts/delicious/delicious-roman-webfont.woff') format('woff'),
       url('../fonts/delicious/delicious-roman-webfont.ttf') format('truetype'),
       url('../fonts/delicious/delicious-roman-webfont.svg#webfontR7nsGjGQ') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DeliciousBold';
  src: url('../fonts/delicious/delicious-bold-webfont.eot');
  src: url('../fonts/delicious/delicious-bold-webfont.eot?iefix') format('eot'),
       url('../fonts/delicious/delicious-bold-webfont.woff') format('woff'),
       url('../fonts/delicious/delicious-bold-webfont.ttf') format('truetype'),
       url('../fonts/delicious/delicious-bold-webfont.svg#webfontd1j5XfbR') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DeliciousItalic';
  src: url('../fonts/delicious/delicious-italic-webfont.eot');
  src: url('../fonts/delicious/delicious-italic-webfont.eot?iefix') format('eot'),
       url('../fonts/delicious/delicious-italic-webfont.woff') format('woff'),
       url('../fonts/delicious/delicious-italic-webfont.ttf') format('truetype'),
       url('../fonts/delicious/delicious-italic-webfont.svg#webfonthwFZabLs') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Pictos';
	src: url('pictos-web.eot');
	src: local('☺'), url('../fonts/pictos/pictos-web.woff') format('woff'), url('../fonts/pictos/pictos-web.ttf') format('truetype'), url('../fonts/pictos/pictos-web.svg#webfontphKv1xv9') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* @end */