/* TABLE OF CONTENTS
=============================================================================
  1. Globals - Default HTML elements styling.
  2. Library - Styling for custom elements used throughout the site.
  3. Template - Styling for structure of the site.
  4. Page Styles - Styling for page-specific elements.
=============================================================================*/


/* @group Globals
=============================================================================
Default HTML elements styling.
=============================================================================*/
body {
  background: url('../images/bg.gif') repeat 0 0;
  color: #666;
  font: 15px/19px 'Delicious', Arial, serif;
}
a, a:visited, a:active {
  color: #ae1531;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
}
a:hover {
  color: #666;
}
blockquote {
  font-style: italic;
  margin-left: 15px;
}
strong { font-weight: bold; }
em { font-style: italic; }
small { font-size: 30%; }
h1 {
  color: #ae1351;
  font: 24px/30px 'Arvo', Georgia, serif;
  text-shadow: 0 1px 0 #fff;
  text-transform: lowercase;
}
h1.logo {
  background: url('../images/logo-bhp.png') no-repeat 0 0;
  display: block;
  font-size: 0;
  height: 115px;
  line-height: 0;
  margin: 0 0 0 -37px;
  width: 250px;
  text-indent: -9999px;
  -webkit-transition: all 0.4s ease-in-out;
}
h1.logo:hover {
  opacity: .5;
}
  h1 a {
    display: block;
    height: 100%;
    width: 100%;
  }
h2 {
  font: 18px/24px 'Arvo', Georgia, serif;
  text-shadow: 0 1px 0 #fff;
}
h3 {
  font: 17px/19px 'DeliciousBold', Arial, sans-serif;
}
::selection {
  background: #c45469;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #c45469;
  color: #fff;
  text-shadow: none;
}
div#gform_wrapper_1 {
  margin-left: 20px;
}
form ul, form ul li {
  margin: 0;
}
form ul li {
  margin-bottom: 10px;
  list-style: none;
}
div#wrapper input[type=text], div#wrapper input[type=email], div#wrapper input[type=tel], div#wrapper textarea {
  border: none;
  background: #ebebeb; /* For IE */
  background: rgba(235,235,235,.4);
  color: #666;
  font: 18px/24px 'Lucide Grande', Arial, sans-serif !important;
  padding: 7px !important;
}
div#wrapper input[type=text]:focus, div#wrapper input[type=email]:focus, div#wrapper input[type=tel]:focus, div#wrapper textarea:focus {
  background: rgba(235,235,235,1.0);
}
div#wrapper input[type=submit] {
  background: #c25267;
  border: none;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font: 17px/23px 'Arvo', Georgia, serif;
  padding: 2px 30px;
  text-shadow: 0 1px 0 rgba(0,0,0.5);
  text-transform: lowercase;
  -webkit-transition: all 0.4s ease-in-out
}
div#wrapper input[type=submit]:hover {
  background: #ae3f54;
  cursor: pointer;
}
div#wrapper label.gfield_label {
  color: #ae1351;
  font: 17px/23px 'Arvo', Georgia, serif;
  text-transform: lowercase;
}
div#wrapper .gform_footer {
  margin-top: 5px;
  padding-top: 0;
}

/* @end */

/* @group Library
=============================================================================
Styling for custom elements used throughout the site.
=============================================================================*/
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.clearfix { display: block; }
img.alignright { margin-left: 15px; }
img.alignleft { margin-right: 15px; }
.aligncenter,div.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignleft { float: left; }
.alignright { float: right; }
.textleft { text-align: left; }
.textcenter { text-align: center; }
.textright { text-align: right; }
img.thickborder {
  background: #f1f1f1;
  border: 1px solid #ededed;
  padding: 10px;
}
.gform_wrapper .gfield_required {
  color: #ae1531 !important;
}
/* @end */

/* @group Template
=============================================================================
Styling for structure of the site.
=============================================================================*/
#wrapper {
}
  header[role=site] a, #page a, footer[role=site] a {
  }
  header[role=site] {
    margin-top: 20px;
    margin-bottom: 20px;
  }
    nav#primary-navigation {
      font: 16px/24px 'Arvo', Georgia, serif;
      margin-top: 55px;
      text-align: right;
      text-shadow: 0 1px 0 #fff;
    }
      nav#primary-navigation ul li {
        display: inline;
        list-style: none;
        text-transform: lowercase;
      }
        nav#primary-navigation ul li a {
          -moz-border-radius: 3px;
          border-radius: 3px;
          padding: 3px 5px;
        }
        nav#primary-navigation ul li a:hover, 
        nav#primary-navigation ul li.current-menu-item a, 
        nav#primary-navigation ul li.current_page_parent a {
          background: rgba(174,21,49,.73);
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0,0,0,.22);
        }
  #page{
    background: url('../images/dotted-line.png') repeat-x top;
    padding: 20px 0;
  }
  footer[role=site] {
    background: url('../images/dotted-line.png') repeat-x top;
    font-size: 12px;
    padding-top: 20px;
    text-shadow: 0 1px 0 #fff;
  }
    footer[role=site] a {
      color: #666;
      font-family: 'DeliciousBold', Arial, sans-serif;
    }
    footer[role=site] a:hover {
      color: #ae1531;
    }
/* @end */

/* @group Page Styles
=============================================================================
Styling for page-specific elements.
=============================================================================*/
/* @group Home Page*/
body.home {
}
/* @end */

/* @group Gallery Grid Pages */
div.photo {
  background: #f1f1f1;
  border: 1px solid #ededed;
  float: left;
  height: 130px;
  margin: 0 20px 20px 0;
  overflow: hidden;
  padding: 10px;
  position: relative;
  -webkit-transition-property: background, border;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  width: 198px;  
  z-index: 0;
}
div.photo:hover {
  background: #c25267;
  border-color: #b03f55;
}
  div.photo a {
    display: block;
    height: 130px;
    overflow: hidden;
    position: relative;
    width: 198px;
  }
  div.photo a span.label {
    background: rgba(255,255,255,0.85);
    bottom: -44px;
    font: 18px/23px 'Arvo', Georgia, serif;
    left: 0;
    padding: 10px 0;
    position: absolute;
    text-transform: lowercase;
    -webkit-transition: all 0.4s ease-in-out;
    width: 198px;
  }
  div.photo:hover a span.label {
    bottom: 0px;
    color: #ae1531;
  }
/*div.photo:before, div.photo:after {
  position: absolute;
  z-index: -1;
}
div.photo:before {
  content: "";
  text-align: left;
  background: transparent;
  bottom: 9px;
  right: 10px;
  width: 50%;
  height: 40%;
  -moz-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -o-transform: rotate(4deg);
  transform: rotate(4deg);
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
}
div.photo:after {
  content: "";
  text-align: right;
  background: transparent;
  left: 10px;
  bottom: 9px;
  width: 50%;
  height: 40%;
  -moz-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  transform: rotate(-4deg);
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 50px;
}*/
/* @end */

/* @group 404 Page */
.four-o-four {
}
/* @end */
/* @end */

/* @group Font Kits
=============================================================================
@font-face kits.
=============================================================================*/
@font-face {
    font-family: 'Delicious';
    src: url('../fonts/delicious/Delicious-Roman.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DeliciousItalic';
    src: url('../fonts/delicious/Delicious-Italic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DeliciousBold';
    src: url('../fonts/delicious/Delicious-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
/* @end */