/* TABLE OF CONTENTS
=============================================================================
  1. Globals - Default HTML elements styling.
  2. Library - Styling for custom elements used throughout the site.
  3. Template - Styling for structure of the site.
  4. Page Styles - Styling for page-specific elements.
=============================================================================*/


/* @group Globals
=============================================================================
Default HTML elements styling.
=============================================================================*/
body {
  background: url('../images/bg.gif') repeat 0 0;
  color: #666;
  font: 15px/19px 'Delicious', Arial, serif;
}
a, a:visited, a:active {
  color: #ae1531;
  text-decoration: none;
}
a:hover {
  color: #666;
}
blockquote {
  font-style: italic;
  margin-left: 15px;
}
strong { font-weight: bold; }
em { font-style: italic; }
small { font-size: 30%; }
h1 {
  color: #ae1351;
  font: 24px/30px 'Arvo', Georgia, serif;
  text-shadow: 0 1px 0 #fff;
  text-transform: lowercase;
}
h1.logo {
  background: url('../images/logo-bhp.png') no-repeat 0 0;
  display: block;
  font-size: 0;
  height: 115px;
  line-height: 0;
  margin: 0 0 0 -37px;
  width: 250px;
  text-indent: -9999px;
}
  h1 a {
    display: block;
    height: 100%;
    width: 100%;
  }
h2 {
  font: 18px/24px 'Arvo', Georgia, serif;
  text-shadow: 0 1px 0 #fff;
}
h3 {
  font: 17px/19px 'DeliciousBold', Arial, sans-serif;
}
::selection {
  background: #c45469;
  color: #fff;
}
::-moz-selection {
  background: #c45469;
  color: #fff;
}
/* @end */

/* @group Library
=============================================================================
Styling for custom elements used throughout the site.
=============================================================================*/
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.clearfix { display: block; }
img.alignright { margin-left: 15px; }
img.alignleft { margin-right: 15px; }
.aligncenter,div.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignleft { float: left; }
.alignright { float: right; }
.textleft { text-align: left; }
.textcenter { text-align: center; }
.textright { text-align: right; }
/* @end */

/* @group Template
=============================================================================
Styling for structure of the site.
=============================================================================*/
#wrapper {
}
  header[role=site] a, #page a, footer[role=site] a {
    -webkit-transition: color 0.5s ease-in-out;
  }
  header[role=site] {
    margin-top: 20px;
    margin-bottom: 20px;
  }
    nav#primary-navigation {
      font: 16px/24px 'Arvo', Georgia, serif;
      margin-top: 55px;
      text-align: right;
      text-shadow: 0 1px 0 #fff;
    }
      nav#primary-navigation ul li {
        display: inline;
        list-style: none;
        text-transform: lowercase;
      }
      nav#primary-navigation ul li.current-menu-item a {
        background: rgba(174,21,49,.73);
        -moz-border-radius: 3px;
        border-radius: 3px;
        color: #fff;
        padding: 3px 5px;
        text-shadow: 0 -1px 0 rgba(0,0,0,.22);
      }
  #page{
    background: url('../images/dotted-line.png') repeat-x top;
    padding: 20px 0;
  }
  footer[role=site] {
    background: url('../images/dotted-line.png') repeat-x top;
    font-size: 12px;
    padding-top: 20px;
    text-shadow: 0 1px 0 #fff;
  }
    footer[role=site] a {
      color: #c1c1c1;
      text-decoration: underline;
    }
    footer[role=site] a:hover {
      color: #666;
    }
/* @end */

/* @group Page Styles
=============================================================================
Styling for page-specific elements.
=============================================================================*/
/* @group Home Page*/
body.home {
}
/* @end */

/* @group 404 Page */
.four-o-four {
}
/* @end */
/* @end */

/* @group Font Kits
=============================================================================
@font-face kits.
=============================================================================*/
@font-face {
    font-family: 'Delicious';
    src: url('../fonts/delicious/Delicious-Roman.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DeliciousItalic';
    src: url('../fonts/delicious/Delicious-Italic.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DeliciousBold';
    src: url('../fonts/delicious/Delicious-Bold.otf');
    font-weight: normal;
    font-style: normal;
}
/* @end */